<div>
  <article
    class="spaces shadow p-4 space-y-2 rounded-md flex flex-col justify-evenly items-center"
  >
    <div>
      <img class="w-full" src="22.png" />
    </div>
    <div>
      <p class="text-xl w-full font-bold">Gorgeous Cotton Plate</p>
      <div class="flex items-center space-x-1">
        <input
          type="radio"
          id="star5"
          name="rating"
          value="5"
          class="hidden peer"
        />
        <label
          for="star5"
          class="cursor-pointer text-gray-400 peer-checked:text-green-600 peer-hover:text-green-600 transition-colors duration-100 text-3xl"
          >&#9733;</label
        >

        <input
          type="radio"
          id="star4"
          name="rating"
          value="4"
          class="hidden peer"
        />
        <label
          for="star4"
          class="cursor-pointer text-gray-400 peer-checked:text-green-600 peer-hover:text-green-600 transition-colors duration-100 text-3xl"
          >&#9733;</label
        >

        <input
          type="radio"
          id="star3"
          name="rating"
          value="3"
          class="hidden peer"
        />
        <label
          for="star3"
          class="cursor-pointer text-gray-400 peer-checked:text-green-600 peer-hover:text-green-600 transition-colors duration-100 text-3xl"
          >&#9733;</label
        >

        <input
          type="radio"
          id="star2"
          name="rating"
          value="2"
          class="hidden peer"
        />
        <label
          for="star2"
          class="cursor-pointer text-gray-400 peer-checked:text-green-600 peer-hover:text-green-600 transition-colors duration-100 text-3xl"
          >&#9733;</label
        >

        <input
          type="radio"
          id="star1"
          name="rating"
          value="1"
          class="hidden peer"
        />
        <label
          for="star1"
          class="cursor-pointer text-gray-400 peer-checked:text-green-600 peer-hover:text-green-600 transition-colors duration-100 text-3xl"
          >&#9733;</label
        >
      </div>
      <span class="font-bold text-lg"> £47.34 </span>
    </div>
  </article>
</div>
