<div class="join">
  <button
    class="join-item btn btn-sm rounded-none p-2 h-10"
    (click)="previousPage()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 19.5 8.25 12l7.5-7.5"
      />
    </svg>
  </button>
  @for (page of pages; track $index) {
  <button
    class="join-item btn btn-sm"
    [class.active]="page === currentPage"
    (click)="selectPage(page)"
  >
    {{ page }}
  </button>
  }

  <button class="join-item btn btn-sm rounded-none p-2" (click)="nextPage()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m8.25 4.5 7.5 7.5-7.5 7.5"
      />
    </svg>
  </button>
</div>
