<section
  class="hero w-full bg-center bg-no-repeat bg-cover h-[500px] relative transition-all duration-300"
>
  <div class="container m-auto h-full">
    <div class="flex flex-col md:flex-row h-full">
      <div
        class="left flex flex-col justify-center md:w-1/2 px-4 py-16 md:py-0 md:pl-16 relative z-10"
      >
        <span
          class="cyber font-medium leading-4 lg:text-base text-white p-1 bg-[var(--red-color)] text-left hover:cursor-pointer mb-4 w-44 block mx-auto sm:mx-0"
        >
          CYBER MONDAY SALE
        </span>

        <h1
          class="text-white text-4xl md:text-6xl font-bold mb-4 md:mb-6 text-center md:text-left"
        >
          Boost your immune system today
        </h1>
        <p class="text-lg md:text-xl text-white mb-4 text-center md:text-left">
          24g of pure protein for enhanced lean muscle.
        </p>
        <app-filled-button
          label="SHOP NOW"
          class="relative mx-auto md:mx-0"
        ></app-filled-button>
      </div>
      <div
        class="right flex items-center justify-center md:justify-end md:w-1/2 relative"
      >
        <div
          class="absolute hidden md:bottom-64 left-10 w-16 h-16 md:w-24 md:h-24 border-4 border-[var(--red-color)] bg-[var(--red-color)] text-white font-bold rounded-full items-center justify-center md:flex"
        >
          <span class="text-lg md:text-xl">30% OFF</span>
        </div>
        <div class="w-full max-w-lg ms:max-w-[534px] mx-auto hidden md:block">
          <img src="h1_img-1.png" alt="Product Image" class="w-full h-auto" />
        </div>
      </div>
    </div>
  </div>
</section>
