<div
  class="hero bg-success w-full bg-center bg-no-repeat bg-cover h-[500px] relative transition-all duration-300"
>
  <div>
    <div class="flex py-70">
      <div class="left flex-row mt-5">
        <a>
          <p
            class="cyber text-xs w-36 font-medium leading-5 text-white bg-red-600"
          >
            CYBER MONDAY SALE
          </p>
        </a>
        <div class="mt-2.5 mx-0 mb-10">
          <h1 class="text-white text-6xl w-[500px] font-bold">
            Boost your immune system today
          </h1>
        </div>
        <p class="text-xl text-white">
          24g of pure protein for enhanced lean muscle.
        </p>
        <button
          class="relative flex items-center mt-16 border-2 border-[--secondary-color] bg-transparent text-[--secondary-text] text-xs uppercase transition-all duration-300 ease-in-outtext-xs font-bold rounded-none px-8 py-4"
        >
          SHOP NOW
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="white"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 ml-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
              />
            </svg>
          </div>
        </button>
      </div>
      <div class="right relative">
        <div
          class="absolute top-14 w-24 h-24 border-4 border-red-500 bg-red-500 text-white font-bold rounded-full"
        >
          <span
            class="absolute inset-0 flex items-center justify-center text-center text-2xl"
          >
            30% OFF
          </span>
        </div>
        <div class="w-full md:w-[100vw] lg:max-w-[534px] mx-auto">
          <img src="h1_img-1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
