<section class="w-full bg-hero group">
  <div class="w-full m-auto relative">
    <div
      class="absolute inset-0 bg-red-700 group-hover:bg-red-950 opacity-85 mix-blend-multiply transition-all duration-300"
    ></div>
    <div class="relative z-10 p-4 sm:p-6 md:p-10 mt-5 sm:mt-8 md:mt-10">
      <div class="flex flex-col w-full max-w-6xl mx-auto">
        <div class="text-center sm:text-left mb-6 sm:mb-10">
          <p class="text-white uppercase text-xs sm:text-sm tracking-wider">
            testimonials
          </p>
          <div
            class="text-white mt-2 sm:mt-3 text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold"
          >
            <h2>Real Reviews From</h2>
            <h2>Real Customers</h2>
          </div>
        </div>

        <div class="lg:hidden w-full flex justify-center">
          <div class="carousel w-full max-w-xs">
            <div
              id="testimonial1"
              class="carousel-item w-full flex justify-center"
            >
              <app-testimonial-card></app-testimonial-card>
            </div>
            <div
              id="testimonial2"
              class="carousel-item w-full flex justify-center"
            >
              <app-testimonial-card></app-testimonial-card>
            </div>
            <div
              id="testimonial3"
              class="carousel-item w-full flex justify-center"
            >
              <app-testimonial-card></app-testimonial-card>
            </div>
          </div>
        </div>

        <div class="lg:hidden flex w-full justify-center gap-2 py-4">
          <a
            href="#testimonial1"
            class="font-extrabold btn btn-xs bg-gray-400 border-gray-400 hover:bg-[--primary-color] hover:border-[--primary-color]"
            >1</a
          >
          <a
            href="#testimonial2"
            class="font-extrabold btn btn-xs bg-gray-400 border-gray-400 hover:bg-[--primary-color] hover:border-[--primary-color]"
            >2</a
          >
          <a
            href="#testimonial3"
            class="font-extrabold btn btn-xs bg-gray-400 border-gray-400 hover:bg-[--primary-color] hover:border-[--primary-color]"
            >3</a
          >
        </div>

        <div class="hidden lg:flex gap-6 py-2">
          <div class="flex-1">
            <app-testimonial-card></app-testimonial-card>
          </div>
          <div class="flex-1">
            <app-testimonial-card></app-testimonial-card>
          </div>
          <div class="flex-1">
            <app-testimonial-card></app-testimonial-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
