<div class="m-auto">
  <!-- white Footer Section -->
  <div
    class="w-full flex bg-white justify-between items-center py-16 px-8 row-auto"
  >
    <div
      class="brandName transition duration-200 ease-in-out transform hover:opacity-50"
    >
      <div class="brandImage">
        <a href="#" title="Brand Name">
          <img src="brand_white-1.png" alt="" />
        </a>
      </div>
    </div>
    <div class="brandName transition duration-200 ease-in-out hover:opacity-50">
      <div class="brandImage">
        <a href="#" title="Brand Name">
          <img src="brand_white-2.png" alt="" />
        </a>
      </div>
    </div>
    <div class="brandName transition duration-200 ease-in-out hover:opacity-50">
      <div class="brandImage">
        <a href="#" title="Brand Name">
          <img src="brand_white-3.png" alt="" />
        </a>
      </div>
    </div>
    <div class="brandName transition duration-200 ease-in-out hover:opacity-50">
      <div class="brandImage">
        <a href="#" title="Brand Name">
          <img src="brand_white-4.png" alt="" />
        </a>
      </div>
    </div>
    <div class="brandName transition duration-200 ease-in-out hover:opacity-50">
      <div class="brandImage">
        <a href="#" title="Brand Name">
          <img src="brand_white-5.png" alt="" />
        </a>
      </div>
    </div>
    <div class="brandName transition duration-200 ease-in-out hover:opacity-50">
      <div class="brandImage">
        <a href="#" title="Brand Name">
          <img src="brand_white-6.png" alt="" />
        </a>
      </div>
    </div>
  </div>
  <!-- Small Footer Section -->
  <footer class="bg-[var(--primary-color)] text-slate-950 py-10 px-8">
    <div
      class="container mx-auto px-4 flex flex-col sm:flex-row items-center justify-center"
    >
      <!-- Left Section -->
      <div
        class="flex-1 text-center sm:text-left border-b sm:border-r border-[var(--secondary-text)] sm:border-b-0 sm:pr-4 flex items-center mb-4 sm:mb-0"
      >
        <!-- Location Icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
          />
        </svg>
        <p class="mx-1">9066 Green Lake Drive Chevy, MD 20815</p>
      </div>

      <!-- Middle Section -->
      <div
        class="flex-1 text-center border-b sm:border-r border-[var(--secondary-text)] sm:border-b-0 px-4 font-bold text-3xl mb-4 sm:mb-0"
      >
        <p class="mb-2">(+84)-1800-33358</p>
      </div>

      <!-- Right Section -->
      <div class="flex-1 text-center sm:text-right">
        <div
          class="flex justify-center sm:justify-end space-x-3 mt-2 items-center"
        >
          <div class="flex items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
              />
            </svg>
          </div>
          <p class="mb-1 flex items-center">contact&#64;example.com</p>
          <a
            href="#"
            class="text-[var(--secondary-color)] hover:text-white flex items-center"
          >
            <!-- Twitter Icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M22.46 6c-.77.35-1.6.58-2.48.69a4.3 4.3 0 001.88-2.37 8.57 8.57 0 01-2.73 1.04A4.28 4.28 0 0015.48 4c-2.35 0-4.26 1.9-4.26 4.26 0 .33.04.65.1.96-3.54-.18-6.68-1.88-8.77-4.48a4.23 4.23 0 00-.58 2.14c0 1.48.75 2.79 1.89 3.55a4.24 4.24 0 01-1.93-.53v.05c0 2.06 1.46 3.78 3.39 4.17a4.31 4.31 0 01-1.92.07c.54 1.68 2.12 2.9 3.99 2.93a8.58 8.58 0 01-5.32 1.84c-.35 0-.69-.02-1.03-.06a12.15 12.15 0 006.56 1.92c7.87 0 12.19-6.52 12.19-12.19 0-.19-.01-.38-.02-.57a8.69 8.69 0 002.14-2.22z"
              />
            </svg>
          </a>
          <a
            href="#"
            class="text-[var(--secondary-color)] hover:text-white flex items-center"
          >
            <!-- Facebook Icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8h-3V5a1 1 0 011-1h2V2h-2a3 3 0 00-3 3v3H9v2h2v7h2v-7h2l1-2z"
              />
            </svg>
          </a>
          <a
            href="#"
            class="text-[var(--secondary-color)] hover:text-white flex items-center"
          >
            <!-- YouTube Icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21.8 8.21a2.25 2.25 0 00-1.59-1.6C18.66 6 12 6 12 6S5.34 6 3.79 6.61A2.25 2.25 0 002 8.21c-.12.88-.21 1.76-.21 2.69s.09 1.81.21 2.69a2.25 2.25 0 001.59 1.6C5.34 18 12 18 12 18s6.66 0 8.21-.61a2.25 2.25 0 001.59-1.6c.12-.88.21-1.76.21-2.69s-.09-1.81-.21-2.69zM10 15V9l6 3-6 3z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </footer>

  <!-- //big footer -->

  <footer
    class="bg-[var(--secondary-color)] text-white pt-[75px] pr-[30px] pb-[60px] pl-[30px]"
  >
    <div class="container mx-auto px-4">
      <!-- Grid layout for sections -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8"
      >
        <!-- Customer Service Section -->
        <div class="flex flex-col items-center sm:items-start">
          <h2 class="text-lg font-bold mb-4">Customer Service</h2>
          <ul class="space-y-2">
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Informed Sport</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Loyalty Points</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Testimonials</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Expert Panel</a>
            </li>
          </ul>
        </div>

        <!-- Information Section -->
        <div class="flex flex-col items-center sm:items-start">
          <h2 class="text-lg font-bold mb-4">Information</h2>
          <ul class="space-y-2">
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">About Us</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Blog</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Check Out</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>

        <!-- Services Section -->
        <div class="flex flex-col items-center sm:items-start">
          <h2 class="text-lg font-bold mb-4">Services</h2>
          <ul class="space-y-2">
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Service</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">My Account</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Shopping Cart</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Shop</a>
            </li>
          </ul>
        </div>

        <!-- Categories Section -->
        <div class="flex flex-col items-center sm:items-start">
          <h2 class="text-lg font-bold mb-4">Categories</h2>
          <ul class="space-y-2">
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Protein</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Sports Nutrition</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Weight Loss</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Well-being</a>
            </li>
            <li
              class="transition-colors duration-200 text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
            >
              <a href="#">Food & Drink</a>
            </li>
          </ul>
        </div>
        <!-- Subscribe Section -->
        <div class="flex flex-col items-center">
          <h2 class="text-lg font-bold mb-4">Subscribe Us</h2>
          <div class="flex flex-col items-center sm:items-start sm:text-left">
            <p class="mb-3 text-[var(--secondary-text)]">
              Sign up for offers and exclusive discounts.
            </p>
            <form
              class="sm:flex-row items-center sm:items-start space-y-4 sm:space-y-0 w-full sm:w-auto"
            >
              <input
                type="email"
                placeholder="Email address..."
                class="px-4 py-2 border border-gray-600 mb-2 w-full sm:w-64"
              />
              <button
                type="submit"
                class="px-4 py-2 bg-[var(--primary-color)] text-black r hover:bg-[var(--primary-color)] transition-colors duration-200 w-full sm:w-auto"
              >
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- Footer Bottom -->
      <div
        class="mt-8 border-t border-gray-600 pt-4 text-[var(--secondary-text)] text-center flex flex-col sm:flex-row sm:justify-evenly"
      >
        <p class="mb-2">
          &copy; Copyright © 2020 Supplero. All Rights Reserved.
        </p>
        <div class="flex flex-col items-center sm:items-center">
          <p class="mb-2">We accept:</p>
          <img src="footer-03.png" alt="Payment Icons" class="inline-block" />
        </div>
      </div>

      \
    </div>
  </footer>
</div>
