<div class=" img  items-center justify-center bg-cover bg-center text-center h-[950px] pt-14">
  <div class=" max-w-xl w-full flex flex-col items-center justify-center mx-auto mb-14">
    <p class="font-bold text-[150px] text-red-700 mb-4">404</p>
    <p class="text-4xl text-black font-bold mb-2">Oops, that link is broken.</p>
    <p class="font-semibold text-xl text-gray-600 mb-6">
      Page doesn’t exist or some other error occurred. Go to our Home page or go
      back to Previous page.
    </p>
    <div class="flex space-x-4">
      <a
        href="/"
        class="mr-1.25 p-[17px] px-[35px] font-semibold bg-white rounded-none hover:bg-[var(--primary-color)] hover:underline transition-colors duration-200"
      >
        Home Page
      </a>
      <a
        class="mr-1.25 p-[17px] px-[35px] font-semibold bg-white rounded-none hover:bg-[var(--primary-color)] hover:underline transition-colors duration-200"
      >
        Previous Page
      </a>
    </div>
  </div>
</div>
