<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Rate</th>
        <th>Sales Count</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      @for (product of paginatedProducts; track $index) {
      <tr class="border-b-gray-200">
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img
                  src="{{ product.thumbnail }}"
                  alt="Avatar Tailwind CSS Component"
                />
              </div>
            </div>
            <div>
              <div class="font-bold">{{ product.title.split("-")[0] }}</div>
              <div class="text-sm opacity-50">
                {{ product.categories.slice(1).join(", ") }}
              </div>
            </div>
          </div>
        </td>
        <td>
          <p class="font-semibold">${{ product.price }}</p>
        </td>
        <td>
          <p>{{ product.count }}</p>
        </td>

        <td>
          <div class="flex items-center gap-2">
            <p class="font-semibold">
              {{ product.rate }}
            </p>
            <div class="w-4">
              <img src="/icons/star-filled.png" alt="" />
            </div>
          </div>
        </td>
        <td>
          <p>{{ product.salesCount }}</p>
        </td>
        <td>
          <div class="flex gap-2">
            <app-edit-button
              onclick="my_modal_1.showModal()"
              (click)="handleEdit(product)"
            ></app-edit-button>
            <app-delete-button
              (click)="handleDelete(product._id)"
            ></app-delete-button>
          </div>
        </td>
      </tr>
      }
    </tbody>
    <!-- foot -->
    <tfoot>
      <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Rate</th>
        <th>Sales Count</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>

<app-add-product-form-modal
  [productToEdit]="productToEdit"
></app-add-product-form-modal>

<dialog id="za3bola" class="modal">
  <div class="modal-box">
    <p class="pb-4">Press ESC key or click the button below to close</p>
    <h3 class="text-lg font-bold">
      This Product Will Be Deleted, Are You Sure?
    </h3>
    <div class="modal-action">
      <form method="dialog">
        <div class="flex gap-5">
          <button class="btn">Close</button>
          <button
            class="btn bg-red-600 text-white hover:bg-red-800"
            (click)="onSubmit()"
          >
            Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</dialog>
