.more:hover + .shopping-content,
.shopping-content:hover {
  transform: translateX(0%);
  visibility: visible;
}

.shopping-content {
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
