<div class="flex flex-col bg-white p-10 max-w-md rounded-br-3xl">
  <app-star-review-customers></app-star-review-customers>
  <div class="mt-4">
    <p class="mt-1 text-black text-lg capitalize leading-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur.
    </p>
  </div>

  <div class="mt-5 text-black font-bold text-sm leading-5">Brian G.Moore</div>
  <div class="text-gray-500">Cunningham Store</div>
</div>
