<!-- <button
  class="relative bg-[--secondary-color] text-black border font-bold uppercase leading-6 text- rounded-none px-8 py-4 border-black overflow-hidden transition-all duration-300 hover:bg-black hover:text-white"
>
  <span class="relative z-10"> shop now </span>
  <div
    class="absolute top-0 left-0 w-full h-full bg-black transition-transform duration-300 transform scale-x-0 group-hover:scale-x-100 origin-left"
  ></div>
</button> -->
<button
  class="relative border-2 border-[--secondary-color] bg-transparent text-[--secondary-text] text-xs uppercase transition-all duration-300 ease-in-outtext-xs font-bold leading-7 text-<color-class> bg-<bg-color-class> rounded-none px-8 py-4"
>
  Button
</button>
