<button
  class="flex items-center mt-16 border-1 border-[--secondary-color] text-black uppercase transition-all duration-300 ease-in-outtext-xs font-bold text-xs leading-7 rounded-none py-4 px-8 bg-[var(--primary-color)]  hover:bg-black hover:text-white"
>
  {{label}}
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="white"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 ml-2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
      />
    </svg>
  </div>
</button>
