<section class="container m-auto my-16">
  <div class="text-center mb-6">
    <p class="text-[var(--secondary-text)]">SHOP OUR NEW RELEASES</p>
    <h2 class="font-extrabold text-4xl">Our Products</h2>
  </div>
  <div class="flex justify-between gap-2 flex-wrap">
    @for(product of products; track product._id){
    <app-main-product-card
      [product]="product"
      class="w-[20%]"
    ></app-main-product-card>
    } @empty{ loading }
  </div>
  <div class="flex justify-center mt-8">
    <app-outlined-button label="VIEW ALL PRODUCTS"></app-outlined-button>
  </div>
</section>
