<!-- app-sales-card.component.html -->
<div class="bg-white h-32 flex justify-between items-center">
  <div class="w-1/2 flex items-center p-3">
    <img class="w-full" src="{{ product.thumbnail }}" />
  </div>
  <div class="w-1/2">
    <p class="text-black text-sm">{{ product.title }}</p>
    <div class="flex">
      <img
        class="my-2"
        src="./icons/star-filled.png"
        alt="star"
        width="15px"
        height="15px"
      />
      <img
        class="my-2"
        src="./icons/star-outlined.png"
        alt="star"
        width="15px"
        height="15px"
      />
    </div>
    <span class="font-extrabold"> £{{ product.price }} </span>
  </div>
</div>
