<!-- app-sales-card.component.html -->
<div class="bg-white h-32 flex justify-between items-center cyber">
  <div class="w-1/3 flex items-center justify-center">
    <img class="w-80 h-32" src="{{ product.thumbnail }}" />
  </div>
  <div class="w-2/3">
    <p class="font-bold text-sm">{{ product.title }}</p>
    <div class="flex">
      <img
        class="my-2"
        src="./icons/star-filled.png"
        alt="star"
        width="15px"
        height="15px"
      />
      <img
        class="my-2"
        src="./icons/star-outlined.png"
        alt="star"
        width="15px"
        height="15px"
      />
    </div>
    <span class="font-extrabold"> £{{ product.price }} </span>
  </div>
</div>
