<div class="custom-gradient flex items-center justify-center min-h-80 mb-14">
  <div class="text-white p-6 text-center">
    <h1 class="text-7xl font-bold mb-4">Contact Us</h1>
    <div class="flex items-center justify-center space-x-1">
      <a
        href="/"
        class="text-sm text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
      >
        Homepage
      </a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4 text-[var(--secondary-text)]"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m8.25 4.5 7.5 7.5-7.5 7.5"
        />
      </svg>
      <a
        href="contact"
        class="text-sm text-[var(--secondary-text)] hover:text-[var(--primary-color)]"
      >
        Contact Us
      </a>
    </div>
  </div>
</div>

<div class="container bg-white mb-16 mx-auto p-20">
  <div class="flex items-center justify-center">
    <div
      class="mt-3 text-center text-lg font-semibold leading-loose max-w-[540px]"
    >
      <p>
        Whether you have a question about products, ingredients, pricing or
        anything else, our team has answers.
      </p>
    </div>
  </div>

  <div class="form pt-4 flex flex-col md:flex-row">
    <div class="left pt-10 pr-12 flex-1 md:w-1/2">
      <div class="pb-5 flex items-center">
        <div
          class="icon p-[17px] flex justify-center items-center bg-black text-[var(--primary-color)] w-12 h-12 rounded-full mr-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z"
            />
          </svg>
        </div>
        <div>
          <p class="text-[16px] font-bold leading-[12px] mb-3">Telephone</p>
          <p class="text-[var(--primary-color)] text-xl font-bold">
            (+84)-1800-33358
          </p>
        </div>
      </div>
      <div class="border-t border-[var(--secondary-text)] my-4"></div>
      <div class="pb-5 flex items-center">
        <div
          class="icon p-[17px] flex justify-center items-center bg-black text-[var(--primary-color)] w-12 h-12 rounded-full mr-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-8 w-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z"
            />
          </svg>
        </div>
        <div>
          <p class="text-[16px] font-bold leading-[12px] mb-3">Email</p>
          <p class="text-[var(--secondary-color)] text-xl">
            support&#64;example.com
          </p>
        </div>
      </div>
      <div class="border-t border-[var(--secondary-text)] my-4"></div>
      <div class="pb-5 flex items-center">
        <div
          class="icon p-[17px] flex justify-center items-center bg-black text-[var(--primary-color)] w-12 h-12 rounded-full mr-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21"
            />
          </svg>
        </div>
        <div>
          <p class="text-[16px] font-bold leading-[12px] mb-3">Address</p>
          <p class="text-[var(--secondary-color)] text-base">
            9066 Green Lake Drive Chevy, MD 20815
          </p>
        </div>
      </div>
      <div class="border-t border-[var(--secondary-text)] my-4"></div>
      <div class="pb-5 flex items-center">
        <div
          class="icon p-[17px] flex justify-center items-center bg-black text-[var(--primary-color)] w-12 h-12 rounded-full mr-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-8 w-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </div>
        <div>
          <p class="text-[16px] font-bold leading-[12px] mb-1">
            9:00 am until 5:00pm
          </p>
          <p class="text-[var(--secondary-color)] text-base">
            Monday thru Friday.
          </p>
        </div>
      </div>
    </div>
    <div class="hidden md:block w-[1px] bg-gray-300 mx-4"></div>

    <div class="right pl-4 flex-auto md:w-1/2">
      <div class="w-xl mx-auto p-6 bg-white rounded-lg">
        <h2 class="text-2xl font-bold mb-6 text-left">Send Us Message</h2>
        <form class="space-y-4">
          <div>
            <input
            type="text"
            id="name"
            name="name"
            placeholder="Your Name"
            class="pt-3 pb-3 block w-full px-3 py-2 border bg-gray-100 rounded-none font-semibold shadow-sm placeholder-gray-600 focus:outline-none focus:[var(--primary-color)] focus:border-[var(--primary-color)] sm:text-sm"
            required
          />
          </div>
          <div>
            <input
            type="text"
            id="name"
            name="name"
            placeholder="Your Email Address"
            class="pt-3 pb-3 block w-full px-3 py-2 border bg-gray-100 rounded-none font-semibold shadow-sm placeholder-gray-600 focus:outline-none focus:[var(--primary-color)] focus:border-[var(--primary-color)] sm:text-sm"
            required
          />
          </div>
          <div>
            <input
            type="text"
            id="name"
            name="name"
            placeholder="Your Mobile"
            class="pt-3 pb-3 block w-full px-3 py-2 border bg-gray-100 rounded-none font-semibold shadow-sm placeholder-gray-600 focus:outline-none focus:[var(--primary-color)] focus:border-[var(--primary-color)] sm:text-sm"
            required
          />
          </div>
          <div>
            <div>
              <textarea
                id="message"
                name="message"
                rows="4"
                placeholder="Message"
                class="mt-1 block w-full px-3 py-2 border bg-gray-100 rounded-none font-semibold shadow-sm placeholder-gray-600 focus:outline-none focus:[var(--primary-color)] focus:border-[var(--primary-color)] sm:text-sm"
                required
              ></textarea>
            </div>
            
          </div>
          <div>
            <button
              type="submit"
              class="px-4 py-2 bg-[var(--primary-color)] text-black hover:bg-[var(--primary-color)] transition-colors duration-200 w-full sm:w-auto"
            >
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
    
    
  </div>
</div>
