<div
  class="w-64  h-20 relative card card-side shadow-xl p-4 flex items-center overflow-hidden group  border-none"
>

  <div
    class="absolute left-0 bottom-0 h-0 w-1 bg-[var(--primary-color)] transition-all duration-300 group-hover:h-full"
  ></div>

  <figure>
    <img
      src="smallCard.png"
      alt="Image"
      class="w-20 h-24 object-cover rounded-lg"
    />
  </figure>
  <div class="ml-4">
    <h2 class="text-xl text-black font-bold">Whey Protein</h2>
    <p class="text-[var(--secondary-text)] font-semibold">6 products</p>
  </div>
</div>
