<div
  class="smallCard py-4 px-1 w-64 h-20 relative bg-white shadow-xl flex items-center group"
>
  <div
    class="absolute left-0 bottom-0 h-0 w-1 bg-[var(--primary-color)] transition-all duration-300 group-hover:h-full"
  ></div>

  <figure>
    <img
      src="smallCard.png"
      alt="Image"
      class="w-14 h-16"
    />
  </figure>
  <div class="ml-4">
    <h2 class="text-xl font-bold">Whey Protein</h2>
    <p class="text-[var(--secondary-text)] font-semibold">6 products</p>
  </div>
</div>
