<div class="bg-white cyber">
  <div>
    <img src="22.png" width="400" height="373" />
  </div>
  <div class="px-8 pb-8 pt-1">
    <p class="text-xl w-full font-bold">Gorgeous Cotton Plate</p>
    <div class="flex">
      <img
        class="my-2"
        src="./icons/star-filled.png"
        alt="star"
        width="15px"
        height="15px"
      />
      <img
        class="my-2"
        src="./icons/star-outlined.png"
        alt="star"
        width="15px"
        height="15px"
      />
    </div>
    <span class="font-bold text-lg"> £47.34 </span>
  </div>
</div>
