<section class="container m-auto my-10 grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
  @for (category of categories; track category.category) {
    <app-small-card [loading]="false" [category]="category"></app-small-card>
  }
  @empty {
    <app-small-card [loading]="true"></app-small-card>
    <app-small-card [loading]="true"></app-small-card>
    <app-small-card [loading]="true"></app-small-card>
    <app-small-card [loading]="true"></app-small-card>
    <app-small-card [loading]="true"></app-small-card>
  }
</section>
